.contact-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner-c {
  height: 500px;
  width: 80vw;
  max-width: 900px;
  min-width: 500px;
  background-color: black;
  overflow: hidden;
  /* z-index: -1; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  position: relative;
}
.dimmer {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  filter: brightness(70%);
  transition: filter 400ms ease-in-out;
  /* -moz-transition: all 400ms ease-in-out; */
  /* transition-property: filter; */
  /* transition-duration: 400ms ease-in-out; */
}
.dim {
  filter: brightness(100%);
}
.squareD {
  height: 480px;
  position: absolute;
  filter: brightness(80%) hue-rotate(55deg);
  z-index: 1;
}
.bubble {
  height: 200px;
  position: absolute;
  z-index: 1;
  opacity: 0.7;
}
.ring {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 5px 5px 20px 20px blueviolet;
  box-shadow: inset 0 0 50px #fff, inset 30px 0 30px rgb(106, 0, 255),
    inset -15px 0 40px rgb(106, 0, 255), inset 20px 0 150px rgb(170, 0, 255),
    inset -20px 0 300px rgb(0, 255, 234), 0 0 70px #fff, 0 0 12px 4px #fff,
    -10px 0 80px #f0f, 10px 0 80px #0ff;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
}
.ring-on {
  width: 200px;
  height: 200px;
  opacity: 0.8;
}
.water {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: brightness(100%);
}
.color-wash-c {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-wash {
  position: fixed;
  /* top: 200px; */
  left: calc(50% - 125px);
  width: 250px;
  height: 125px;
  background-image: linear-gradient(
    to right top,
    #6c22bd,
    #8b25bb,
    #a52bb9,
    #bc34b7,
    #d040b5,
    #e645a5,
    #f55195,
    #ff6188,
    #ff796e,
    #ff965b,
    #f5b255,
    #e1cd60
  );
  filter: blur(50px);
  border-radius: 50%;
  transition: all 400ms ease-in-out;
  /* transform-origin: center center; */
  opacity: 0.5;
  z-index: 0;
  transform: scale(1);
}
.color-wash2 {
  position: fixed;
  top: 100px;
  left: calc(50% - 125px);
  width: 250px;
  height: 125px;
  background-image: linear-gradient(
    to right top,
    #22b3bd,
    #9525bb,
    #2ba4b9,
    #22dfe3,
    #2323ee,
    #a845e6,
    #6505ff,
    #00bbff,
    #6efdff,
    #5bffe6,
    #55f5d0,
    #60e1a9
  );
  filter: blur(50px);
  border-radius: 50%;
  transition: all 400ms ease-in-out;
  transform-origin: center center;
  opacity: 0.5;
  z-index: 0;
  transform: scale(1);
}
.color-lit {
  opacity: 1;
  transform: scale(2);
}

#contact-h1 {
  position: absolute;
  top: 80px;
  left: 30px;
  color: rgb(255, 255, 255);
  font-family: "M PLUS 1p", sans-serif;
  z-index: 3;
}
#contact-h2 {
  position: absolute;
  bottom: 10px;
  left: 65px;
  color: white;
  text-decoration: none;
  font-family: "M PLUS 1p", sans-serif;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  z-index: 3;
}
#contact-h2-email {
  position: absolute;
  bottom: 10px;
  right: 35px;
  color: white;
  font-family: "M PLUS 1p", sans-serif;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  z-index: 3;
}
#iphone {
  position: absolute;
  bottom: 30px;
  left: 30px;
  height: 30px;
  filter: invert(100%);
  z-index: 5;
}
#mail {
  position: absolute;
  bottom: 30px;
  right: 370px;
  height: 30px;
  filter: brightness(500%);
  z-index: 5;
  /* margin: 0px 10px 0px 0px;  */
}