@media screen and (max-width: 900px) {
    #contact-h2 {
        bottom: 60px;
      }
      #contact-h2-email {
        left: 75px;
      }
      #iphone {
        bottom: 80px; 
      }
      #mail {
        left: 30px;
      }
      .chatter-img {
        width: 550px;
        height: auto;
      }
}