@media screen and (max-width: 1920px) {

  .caseyPro1 {
    width: 600px;
  }
  .casey-top__h1 {
    font-size: 45px;
  }
  #casey-top__text P {
    font-size: 25px;
    width: 45vw;
  }

  .app-link-h2 {
    font-size: 45px;
  }
  .app-link-h2:hover {
    font-size: 50px;
  }
  .skywalker-top__text P {
    width: 600px;
    font-size: 25px;
  }
  .mix-meld-image {
    width: 710px;
    height: auto;
  }
  .regular-wrapper1 img {
    width: 710px;
    height: auto;
  }
  .chatter__text p {
    width: 600px;
    font-size: 25px;
  }
  .chatter-img {
    width: 750px;
    height: auto;
  }
  .shimmer-h2-c {
    width: 300px;
  }
  .shimmer__text P {
    width: 300px;
    font-size: 25px;
  }
  }  