@media screen and (max-width: 1400px) {
  .caseyPro1 {
    width: 500px;
  }
  .mix-meld-image {
    width: 610px;
    height: auto;
  }
  .regular-wrapper1 img {
    width: 610px;
    height: auto;
  }
  .chatter-img {
    width: 650px;
    height: auto;
  }

  }  